:root{
    --gry: #292929;
    --blk: #000000;
    --wht: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gry);
}
.button{
    background: transparent;
    outline: none;
    border: 0;
    background: var(--blk);
    width: 260px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
    cursor: pointer;
}
.button .label{
    font-size: 2em;
    text-transform: uppercase;
    color: var(--wht);
    position: absolute;
    left: 20px;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.button .line{
    position: absolute;
    right: 20px;
    top: 50%;
    height: 1px;
    width: 30%;
    background: var(--wht);
    transform: scaleX(0.2);
    transform-origin: center right;
    z-index: 1;
    transition: 0.3s ease;
}
.button::before,
.button::after{
    content: '';
    position: absolute;
    height: 50%;
    width: 0;
    background: var(--wht);
    transition: 0.3s ease;
}
.button::before{
    top: 0;
    left: 0;
    right: auto;
}
.button::after{
    bottom: 0;
    right: 0;
    left: auto;
}
.button:hover .label{
    color: var(--blk);
}
.button:hover .line{
    background: var(--blk);
    transform: scaleX(1);
}
.button:hover::before{
    width: 100%;
    right: 0;
    left: auto;
}
.button:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}